/* Global Styling */
body {
    background-color: lightslategray;
    margin: 0px;
}

.page-container {
    font-family: "Luminari", fantasy;
    display: flex;
    margin-right: 0;
    height: 100vh;
}

.player-1-token, 
.player-2-token {
    margin: 15px 0px 7px 0px;
    height: 30px;
    width: 30px;
}

/* Players' Side Bar */
.player-container {
    color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 400px;
}

.left-side {
    background-image: url(./assets/david-billings-xczh7jN17fA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.right-side {
    background-image: url(./assets/vino-li-PkJbY56JKh4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.player-win-count {
    margin: 0px;
}

/* Game Board */
.game-board-container {
    /* background-image: linear-gradient(#9D653E, #81566A, #343D5B); */
    background-image: linear-gradient(#343D5B, #81566A, #9D653E);
    color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.turn-counter,
.announcements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.turn-counter img,
.announcements img {
    margin: 15px 0px;
}

.player-the,
.player-s,
.player-turn,
.announce-wins,
.announce-draw {
    font-size: 25px;
    margin: 20px 10px;
}

.player-s {
    margin: 30px 5px 10px 2px;
}

.game-board {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 55%;
    width: 65%;
}

/* Game Board Buttons */
button {
    background: none;
    cursor: pointer;
    height: 125px;
    width: 125px;
}

.right-bot-border {
    border-width: 0px 3px 3px 0px;
}

.left-bot-border {
    border-width: 0px 0px 3px 3px;;
}

.bottom-border {
    border-width: 0px 0px 3px 0px;
}

.right-border {
    border-width: 0px 3px 0px 0px;
}

.left-border {
    border-width: 0px 0px 0px 3px;
}

.no-border {
    border: none;
}

.square {
    border-style: solid;
    border-color: rebeccapurple;
}

.hidden {
    display: none;
}