/* Global Styling */
body {
    background-color: lightslategray;
    display: flex;
    font-family: "Luminari", fantasy;
    height: 100vh;
    margin: 0px;
}

/* Players' Side Bar */
.player-container {
    align-items: center;
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
}

.player-token {
    height: 30px;
    margin: 15px 0px 7px 0px;
    width: 30px;
}

.player-win-display {
    margin: 0px;
}

.left-side {
    background-image: url("./assets/david-billings-xczh7jN17fA-unsplash.jpg");
}

.right-side {
    background-image: url("./assets/vino-li-PkJbY56JKh4-unsplash.jpg");
}

/* Game Board */
.game-board-container {
    align-items: center;
    background-image: linear-gradient(#343D5B, #81566A, #9D653E);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.banner {
    font-size: 25px;
    min-height: 40px;
    text-align: center;
}

.banner .player-token {
    margin: 0px;
}

.banner-alert {
    font-size: 14px;
}

.game-board-grid {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 55%;
    justify-content: center;
    width: 65%;
}

/* Buttons */
.grid {
    background: none;
    border-color: antiquewhite;
    border-style: solid;
    cursor: pointer;
    height: 125px;
    width: 125px;
}

.right-bot-border {
    border-width: 0px 3px 3px 0px;
}

.left-bot-border {
    border-width: 0px 0px 3px 3px;;
}

.bottom-border {
    border-width: 0px 0px 3px 0px;
}

.right-border {
    border-width: 0px 3px 0px 0px;
}

.left-border {
    border-width: 0px 0px 0px 3px;
}

.no-border {
    border: 0px;
}

.clear-wins {
    background-color: #81566A;
    border: 1px solid antiquewhite;
    border-radius: 8%;
    color: antiquewhite;
    cursor: pointer;
    font-family: "Luminari", fantasy;
    font-size: 10px;
    height: 15px;
    padding: 0px 1px 2px 1px;
    width: 100px;
}